<header class="py-3">
    <nav>
        <div class="container-xxl d-flex flex-wrap align-items-center">
            <a id="header-title" href="{{ '/' | relative_url }}" class="d-flex align-items-center mb-3 mb-lg-0 me-lg-auto h4 text-decoration-none">
                <span class="me-2">
                    <img src="{{ 'images/logoCPIA1.png' | relative_url }}" alt="CPIA1 Logo" style="height: 50px;">
                </span>
                <span class="site-title">{{ site.title }}</span>
            </a>
        </div>
    </nav>
</header>

<style>
/* Import Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

/* Apply Poppins font */
.site-title {
    font-family: 'Poppins', sans-serif;
    font-weight: 700; /* Bold for emphasis */
    font-size: 1.5rem; /* Adjust size for visibility */
    color: #333; /* Default color */
}

.site-title:hover {
    color: #007bff; /* Optional hover effect */
    transition: color 0.3s ease;
}
</style>


<script>
    function site_search() {
    var query = document.getElementById("site-search").value;
    window.open("{{ '/search/index.html' | relative_url }}?q=" + encodeURIComponent(query), "_self" );
    }
</script>